html {
  scroll-behavior: smooth;
}

.gradient-background {
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(135, 206, 250, 1) 0%, rgba(72, 154, 220, 1) 20%, rgba(87, 143, 202, 1) 38%, rgba(54, 116, 181, 1) 100%);
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	/* background: linear-gradient(153deg,rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 16%, rgba(135, 206, 250, 1) 42%, rgba(92, 155, 250, 1) 67%, rgba(0, 41, 156, 1) 100%); */
	background-size: 400% 400%;
}